@tailwind base;
@tailwind components;
@tailwind utilities;
div.ant-tabs-nav {
width: 80%;
   margin: 0 0 0 0 !important;
  }
.ant-card{
    border-radius:   0 8px 8px 8px
}
.ant-select-multiple .ant-select-selector {
    border-radius:   0 6px 6px 0px
}
.ant-collapse-content-box {
    padding: 0 !important;
}

/* 在你的 CSS 文件中添加以下内容 */
.markdown{
    h1 {
        font-size: 1.1em;  /* 默认的 font-size */
        font-weight: bold;  /* 默认加粗 */
        margin-top: 0;  /* 默认没有顶部外边距 */
        margin-bottom: 0.67em; /* 默认的底部外边距 */
      }
      
      h2 {
        font-size: 1em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0.83em;
      }
      
      h3 {
        font-size: 0.9em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1.17em;
      }
      
      h4 {
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1.33em;
      }
      
      h5 {
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1.5em;
      }
      a {
        color: #0000EE;
        text-decoration: underline;
      }
      ul {
        list-style-type: disc;  /* 列表项的标记为实心圆点 */
        margin: 1em 0;          /* 上下边距通常是 1em */
        padding-left: 40px;     /* 左侧内边距，以显示列表符号（如圆点） */
      }
    
      ol {
        list-style-type: decimal; /* 列表项的标记为数字（1, 2, 3...） */
        margin: 1em 0;            /* 上下边距通常是 1em */
        padding-left: 40px;       /* 左侧内边距，用来显示数字 */
      }
    
      li {
        list-style-position: outside; /* 列表符号位于列表项外部，通常是默认样式 */
      }
      
} 
  